In [2]:
#import dependencies
from bs4 import BeautifulSoup
import requests
import pandas as pd
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
import pymongo
# SQL Alchemy
from sqlalchemy import create_engine, event
import time
from datetime import datetime

# PyMySQL 
import pymysql
pymysql.install_as_MySQLdb()

# Config variables
from config import local_db_user, local_db_pwd, local_db_endpoint, local_db_port, local_db_name
from config import remote_db_user, remote_db_pwd, remote_db_endpoint, remote_db_port, remote_db_name

In [3]:
# Create Engine and Pass in MySQL Connection

# Remote MySQL DB Connection  
remote_engine = create_engine(f"mysql://{remote_db_user}:{remote_db_pwd}@{remote_db_endpoint}:{remote_db_port}")
#print(f"postgresql://{local_db_user}:{local_db_pwd}@{local_db_endpoint}:{local_db_port}")

# Create a local database engine connection
remote_conn = remote_engine.connect()

# Connect to remote database
try:
    remote_engine = create_engine(f"mysql://{remote_db_user}:{remote_db_pwd}@{remote_db_endpoint}:{remote_db_port}/{remote_db_name}")
    remote_conn = remote_engine.connect()
except Exception as e:
    print(e)  
    
#confirm tables
remote_engine.table_names()

['fantasy_stats', 'super_bowl_stats']

In [6]:
# Create dataframe 
fantasy_stats_df = pd.read_sql('SELECT * FROM fantasy_stats', remote_conn)

In [9]:
fantasy_stats_df

,SEASON,RK,NAME,TEAM,POS,GMS,PASS YDS,PASS TD,PASS INT,RUSH YDS,...,REC YDS,REC TD,DEF SCK,DEF INT,DEF FF,DEF FR,FPTS/G,FPTS,TOT_TD,TOT_YDS
0,2002,1,Priest Holmes,KC,RB,14,0,0,0,1615,...,672,3,0.0,0,0,0,26.6,372.70,24,2287
1,2002,2,Ricky Williams,MIA,RB,16,0,0,0,1853,...,363,1,0.0,0,0,0,20.0,319.60,17,2216
2,2002,3,Rich Gannon,LV,RB,16,4689,26,10,156,...,0,0,0.0,0,0,0,19.3,309.16,29,4845
3,2002,4,LaDainian Tomlinson,LAC,RB,16,0,0,0,1683,...,489,1,0.0,0,0,0,19.2,307.20,15,2172
4,2002,5,Daunte Culpepper,MIN,QB,16,3853,18,23,609,...,0,0,0.0,0,0,0,18.4,295.02,28,4462
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5695,2020,296,Chris Jones,KC,NT,15,0,0,0,0,...,0,0,7.5,0,2,0,6.1,91.80,0,0
5696,2020,297,Johnathan Abram,LV,FS,13,0,0,0,0,...,0,0,0.0,2,0,0,7.0,91.50,0,0
5697,2020,298,Darnell Mooney,CHI,WR,16,0,0,0,20,...,631,4,0.0,0,0,0,5.7,91.10,4,651
5698,2020,299,Anthony Harris,MIN,FS,16,0,0,0,0,...,0,0,0.0,0,0,0,5.7,91.00,0,0
5699,2020,299,Darius Slayton,NYG,WR,16,0,0,0,-1,...,751,3,0.0,0,0,0,5.7,91.00,3,750